.logo {
  margin-left: 5.5rem;
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  border: solid 3px #fafafa;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.menu {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 1.5rem;
}
